.row.footer
  footer
    hr
    p
      address.plain
        strong &copy版权所有 有任何问题请联系我们
        br
        //- 联系开发者
        p
          a.link(href="mailto:534427411@qq.com") 吴尚宇
          | &nbsp;
          a.link(href="mailto:892521916@qq.com") 熊英
        